<div class="card">

  <div class="image-container">

    <button class="nav-btn left" (click)="prevImage()">❮</button>

    <img class="main-image"
       [src]="selectedImage"
       [alt]="product.name">

    <button class="nav-btn right" (click)="nextImage()">❯</button>

  </div>


  <h3>{{ product.name }}</h3>

  <p>{{ product.description }}</p>

  <div class="price">
    {{ product.price }} ₸
  </div>

  <div class="rating">
    <span *ngFor="let star of getFilledStars()">⭐</span>
    <span *ngFor="let star of getEmptyStars()">☆</span>
    ({{ product.rating }})
  </div>


  <a [href]="product.link" target="_blank" class="buy-btn">
    View on Kaspi
  </a>

  <div class="share-icons">
    <span class="share-label">Share:</span>

    <button class="icon-btn whatsapp" (click)="shareWhatsApp()">
      <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp">
    </button>

    <button class="icon-btn telegram" (click)="shareTelegram()">
      <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" alt="Telegram">
    </button>
  </div>



  <div class="thumbnails">
    <img
      *ngFor="let img of product.images"
      [src]="img"
      (click)="changeImage(img)">
  </div>

</div>
