* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 50%;
  text-align: center;
  padding-top: 120px;
}

#insta-icon {
  display: block;
  width: 80px;
  margin: 0 0 20px 40px;
}

.inst-img{
    width: 80%;
    align-items: center
}

.left h2 {
  font-size: 35px;
  line-height: 36px;
  font-weight: 400;
}

.left span {
  color: #ff5a00;
}

.left .pink {
  color: #e1306c;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 360px;
  text-align: center;
}

.login-box h3 {
  text-align:left;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #b2dffc;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.forgot {
  display: block;
  margin: 15px 0;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.or {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.or span {
  flex: 1;
  height: 1px;
  background: #ccc;
}

.or p {
  margin: 0 10px;
  font-size: 14px;
  color: #777;
}

.fb-btn {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  margin-bottom: 15px;
}

.signup {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #0095f6;
  margin-bottom: 20px;
}

.vl {
  border-left: 3px solid rgb(216, 210, 210);
  height: 900px;
  position: absolute;
  left: 57%;
  margin-left: -3px;
  top: 0;
}

.meta {
  font-size: 12px;
  color: #999;
}
