* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 100px;
}

.left {
  width: 450px;
}

.logo {
  color: #1877f2;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text {
  font-size: 24px;
  line-height: 28px;
}

.login-box {
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.login-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  font-size: 16px;
}

.forgot {
  display: block;
  margin: 15px 0;
  color: rgb(8, 102, 255);
  text-decoration: none;
  font-size: 14px;
  text-align:center;
}

hr {
  margin: 20px 0;
}

#create-btn {
  width: 70%;
  padding: 14px 20px;
  margin: 10px 50px;
  background: #42b72a;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
}


.login-box button {
  width: 100%;
  padding: 14px;
  background: #1877f2;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}
